:root {
    --primary-dark: #333;
    --secondary-dark: #444;
    --primary-light: #eee;
    --secondary-light: #ddd;
  }

  /*----- Setting up Body ------ */
  
  
  html {
    /* footer support */
    min-height: 100vh;
  }
  
  body {
    background-color: var(--primary-light);
    color: var(--primary-dark);
    font-family: 'Roboto', sans-serif;
    /* footer support */
    padding: 0;
    margin: 0;
  }

  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--primary-dark);
    color: white;
    margin: 0;
    padding:0;
  }
  

   /*----- Heading ------ */
  .heading {
    background-color: var(--primary-dark);
    color: #ddd;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .heading h1 {
    display: flex;
    align-items: center;
    justify-content: start;
    font-weight: 600;
    padding-left: 50px;
  }



  /*----- Dialog boxes ------ */
  #folder-dialog-box {
    justify-content: center;
    align-items: center;
  }

  /*----- Body Content ------ */

  .body-content{
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: start;
  }



  /*----- Folder ------ */
.folder {
  padding-top: 20px;
  width: 300px;
  background-color: var(--secondary-light);
}

.folder-header {
  padding-left: 50px;
}

.folder-body {
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
} 

.folder-title-area {
  display: flex;
  height: 50px;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
}

  /*----- To Do section ------ */

  .to-do-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
  }

  /*----- To-Do ------ */
.to-do-container {
  padding-top: 20px;
  padding-left: 100px;
  width: 100%;
  padding-right: 100px;
}

  /*----- Tasks Area   ------ */

.card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-style:solid;
  margin-bottom: 50px;
  border-radius: 12px;
  background-color: #d6d6d6;
}

.card h4 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 20px;
  padding-left: 10px;
  
}

.tick {
  margin-right: 20px;
  border-radius: 12px;
}

.card-buttons {
  padding: 20px 20px;
  justify-content:center;
  align-items: center;
}

  /*----- button ------ */
button {
  border-radius: 5px;
  cursor: pointer;
  padding: 10px 20px;
  border-style:solid;
}

button:hover {
  background-color: #8e8e8e;
  border-color: #131313;

}

.trash-folder {
  background-color: #ff7676;
  font-weight: 800;
  height: 40px;
  font-size: 13px;
  margin-top: 5px;
}

.trash-folder:hover {
  background-color: #de4e4e;
}

.project-btn {
  text-transform: uppercase;
  font-weight: 600;
}

.project-btn:hover {

}


#button-add-folder {
  margin-left: 50px;
  background-color:  var(--secondary-light);
}

#button-add-folder:hover {
  background-color: #8e8e8e;
}

